<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.wir_tecrepo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".miscellaneous.HappyBirthdayCard"
            android:label="Birthday Card"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".miscellaneous.CookieActivity"
            android:label="Eat Cookie"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".miscellaneous.CourtCounter"
            android:label="Court Counter"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".miscellaneous.JustJava"
            android:label="Just Java"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".miscellaneous.ChopinTime"
            android:label="Chopin Time"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".FirstActivity"
            android:label="First Activity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".LifecycleActivity"
            android:label="Lifecycles"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity_restaurant.RestaurantActivity"
            android:label="Restaurant Randomizer"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity_restaurant.AddRestaurant"
            android:label="Restaurant Details"
            android:parentActivityName=".activity_restaurant.RestaurantActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity_music_player.MusicPlayerActivity"
            android:label="Music Player"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".activity_lock.LockerActivity"
            android:label="Digital Locker"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity_lock.UnlockActivity"
            android:label="Access Granted!"
            android:parentActivityName=".activity_lock.LockerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity_lock.AddKey"
            android:label="Add Key Combination"
            android:parentActivityName=".activity_lock.LockerActivity"
            android:screenOrientation="portrait"/>
        <service
            android:name=".activity_music_player.MusicService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>